@charset "utf-8";

body {
    margin: 0;
    padding: 0;
    color: #3e3d3d;

}
header {
    width: 980px;
    margin: 0 auto;
}
header h1{
    float: left;
    margin: 5px 0 10px;
}

#global_navi a {
    color: #040404;
    text-decoration: none;
    position: relative;
    transition: 0.3;
}
#global_navi a:visited {
    opacity: 0.7;
}
#global_navi a::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -1px;
    width: 0;
    height: 2px;
    background: #08044af9;
    transition: 0.3s;
}
#global_navi a:hover::before{
    left: 0;
    width: 100%;
}

#global_navi {
    overflow: hidden;
}
#global_navi ul {
    list-style: none;
    margin-top: 75px;
    margin-bottom: 50px;
    padding: 0;
    float: right;
}
#global_navi ul li {
    width: 100px;
    float: left;
}
footer {
    background-color: #08044af9;
    color: #ffffff;
    text-align: center;
}

#company_description{
    float: left;
    font-size: 13px;
}
#company_description p{
    font-size: 18px;
    margin: 0px;
}
#company_description ul{
    float: left;
    list-style: none;
    text-align: left;
}

#footer_navi{
    font-size: 15px;
    overflow: hidden;
}
#footer_navi ul {
    padding: 0;
    margin-top: 80px;
    list-style: none;
    float: right;
}
#footer_navi ul li{
    width: 100px;
    margin: 20px;
    float: left;
}

#footer_navi a {
    color: #ffffff;
    text-decoration: none;
    position: relative;
    transition: 0.3;
}
#footer_navia:visited {
    opacity: 0.7;
}
#footer_navi a::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -1px;
    width: 0;
    height: 2px;
    background: #fa0303;
    transition: 0.3s;
}
#footer_navi a:hover::before{
    left: 0;
    width: 100%;
}